*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-size: 100%;
} 
nav #logo{
    float: left;
    margin-top: -28px;
    height: 130px;
    width: auto;
}
nav{
    width: 100%;
    height: 13%;
    background-color: rgb(255, 255, 255);
    float: inline-start;
    position: fixed;
    box-shadow: 3px 1px 2px 1px rgba(0, 0, 0, 0.925);
}
nav i{
    float: right;
}
nav h3{
    float: right;
    padding: 20px 30px;
}
nav h1{
    float: right;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 10px;
    padding: 8px;
    
}
nav img{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-right: 20px;
}
nav .search_btn{
    margin-right: 40px;
}
nav .search{
    float: right;
    margin-top: 25px;
    height: 30px;
    width: 230px;
    margin-right: 9px;
    border-radius: 9px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.432);
    border-color: rgba(99, 99, 99, 0.548);
    
}
article{
    background-color: rgb(233, 233, 233);
    width: 80%;
    height: 90%;
    margin-top: 6%;
    float: right;
    
}
article h1{
    margin-top: 30px;
    margin-left: 350px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
/* article .kotak{
    width: 280px;
    height: 160px;
    border-radius: 10px;
}
article .kotak1{
    background-color: rgb(57, 118, 209);
}
article .kotak2{
    background-color: rgb(177, 190, 53);
    margin-top: -160px;
    margin-left: 320px;
}
article .kotak3{
    background-color: rgb(72, 206, 72);
    margin-top: -160px;
    margin-left: 640px;
}
article .kotak1:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
article .kotak2:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
article .kotak3:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
article .bawah{
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0.404);
    width: 280px;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
}
article .bawah p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
article .kotak h2{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:larger;
}
article .kotak p{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
} */
table{
    margin-left: 50px;
}
table,th,td,tr{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-collapse: collapse;
    padding: 6px;
}
th{  
    height: 60px;
    background-color: cadetblue;
}
tr,td{
    background-color: #ffffff7c;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete {
    background-color: #DC3545;
}
.job {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#khome{
    width: 280px;
    float: left;
    margin: 10px;
}

.kotak {
    background: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.kotak:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.kotak h2 {
    font-size: 1.5em;
    color: #333;
}

.kotak p {
    color: #666;
}

.kotak .bawah {
    margin-top: 20px;
}

.kotak .bawah p {
    color: #3498db;
    cursor: pointer;
    text-decoration: underline;
}
aside{
    background-color: rgb(63, 63, 63);
    width: 20%;
    height: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.925);
    float: left;
    position: fixed;
    margin-top: 5.9%;
}
aside p{
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: large;
}
aside img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    float: left;
    margin-top: 7px;
    margin-right: 9px;
    color: azure;
}
footer{
    background-color: rgb(12, 12, 12);
    width: 80%;
    height: 70px;
    margin-left: 271px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    float: inline-end;
}
footer strong{
    margin-left: 30px;
}
footer .footer-right{
    float: right;
    margin-right: 30px;
}
.form{
    width: 1000px;
    height: 90%;
    background-color: rgba(185, 185, 185, 0.74);
    margin-top: 40px;
    margin-left: 30px;
    padding: 40px;
    box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.678);
}
.diagram h2{
    margin-right: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 200px;
}

